#container-fluid {
	text-align: center;
}


#text-center {
	background-color: green;
	text-align: center;
}

.center-jumbotron {
	background-color: green;
	text-align: center;
}

#btn-btn-primary {
	text-align: center;
}

body {
	background-color: green;
}