<div class="center-jumbotron">
<div class="text-center">

  <img src="https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2013/08/sinatraheroku.png" class="rounded" alt="...">
</div>
</div>

<p>

	<h3 class="text-center">Lets do it!</h3>
    Is it possible? Can you really make a website in 5 minutes? Yes! It won't be pretty, but it will be able to be put online. We can make it pretty later, but first lets get online</p>


       First thing's first. We need to download Ruby. Ruby is a programming language known for it's simple syntax and ease of learning. Ruby has many web frameworks (collections of code to make web apps easier) such as Rails. The reason I chose Sinatra is that it is an easier framework to learn and use, and it's a great introduction to MVC (Model View Controller) programing. 

       To download Ruby go to <a href="https://www.ruby-lang.org/en/downloads/">Download Ruby</a>  

	Choose which platform you want to learn!

	


		
		<div class="my-btns">

		<a href="windows" button type="button" class="btn btn-primary col-xs-1">Windows</a>
		
		
		
		<a href="linux" button type="button" class="btn btn-primary col-xs-1">Linux</a>
		
		</div>
		</div>

	

		

	</div>

	<p>
		And take a look at how you can help Galore Consultants reach out and teach children how to code
		<h4><a href="#">Galore Consultants charity work</a></h4>
	</p>


</p>

</div>