<div class container-fluid>
	<h1>Linux</h1>
<p>
	     1) Create the app
	     	Create a folder for all your Sinatra sites (To create a folder we use the command mkdir. This stands for MaKe DIRectory. All this does is create a folder)
	     	<div class="container-fluid">
	     	<div class="text-center">
		<div class="img-fluid">
		
		<img src="mkdir.png" class="img-fluid">
		</div>
	     	
	     	</div>
	     	</div>
	     	</p>

	     	<p>

	     	This sets up a folder for all your future sinatra projects

	     	<p>

	     2) Go into the folder using the cd command (The cd command stands for Change Directory. This is the commang that you use to move through all the folders on your computer)
	        cd sinatra
	        </p>

	    <p>
		
		<div class="container-fluid">
			<div class="text-center img-fluid width:100% \9">
			
	     	
	     		<img src="cdsinatra.png" class="img-fluid">
		
		</div>	   

	    	</div>
	     </div>
	   
	    </p>
	     3) Now we're in the folder where our application lives. Lets create our webpage now! Lets make a site called puppies using the mkdir command and then enter that folder with the cd command:
	     <div class="container-fluid">
	     	
	     	<img src="puppies.png" class="img-fluid">
		
	     </div>
		  </p>

		  <p>
		  	Great! Now lets add some Sinatra Gems!
		  	Sinatra is a Ruby framework and Ruby has these packages of code called gems. We can get the sinatra gem like this (if you have root permission to your computer you don't have to type in the command sudo):

		  	<div class="container-fluid">
	     	<div class="text-center">
	     	
	 
	     	<img src="gem_install.png" class="img-fluid">
		
	     	</div>
	     	</div>
	


		  </p>

		  <p>
		  	Great! Now we're ready to start making actual content!
		  	go to the the command prompt and create a file called app,rb. The app.rb file is the spine of the app. The reason that it has the .rb at the end is so the computer knows that this is a Ruby language file. This file will hold our routes. In Ruby on Rails the routes are part of what's called Controllers. That's doesn't mean much now, but when you progress to Ruby on Rails it's going to help you. I'm using the Sublime text editor, so the command to create a new file is subl.

		  	<div class="container-fluid">
	     	<div class="text-center">
		  		
		  		
		  		<img src="subl.png" class="img-fluid">
				
		  	
		 	


		  		<div class="container-fluid">
	     	<div class="text-center">
	     	<p>Let's look at the app.rb file in detail.  </p>
		  		
				<img src="app.png" class="img-fluid">
				
		  	</div>
		  	<p>
		  	Notice the first line: require 'sinatra'. All this means is that this program needs the sinatra gem to be run, because this is the "spine" of the app if we don't specify how it will be run, nothing will happen.

		  	On the third line we see "get '/' do". The '/' tells us that when we go to the website this is the page that opens up first and greets the user. 

		  	The fourth line "erb :home" tells the program what page to render or show when we land on the page. erb means embedded Ruby which is a file type that combines Ruby and HTML to make webpages. Great! We have a spine for our application! lets see how it looks! 
		  	</p>

		  	<img src="invalid.png" class="img-fluid">
		  	

		  	<p>
		  		Well that's not what we wanted! I know what I did wrong! I forgot to make page for home! Lets do that now!
		  	</p>

		  	</div>
		  

</p>














</div>
</div>
