<div class= "container-fluid">
<h1>Windows</h1>

<p>Alright! Let's get started! First let's use the right click to create a folder on our Desktop. Let's call it.... Puppies! </p>

<p>--------------------------------------------------------------------------------------------------------------------------------</p>

<p>----------------------------------------------------------------------------------------------------------------------------------</p>

<p>Great! now we'll open that folder and create 2 more folders. one called "views", and one called "public". </p>

<p>-------------------------------------------------------------------------------------------------------------</p>

<p>-------------------------------------------------------------------------------------------------------------</p>

<p>We'll explain those folders as we get to them. Now lets create the "spine" of the app. Go into your text editor of choice (mines <a href="https://www.sublimetext.com/3">Sublime</a> (it says you have to pay for it, but you really don't have to. you can also use Windows Notepad. Wow! That's alot of parentheses! get used to that! ))</p>

<p>--------------------------------------------------------------------------------------------------------------------------------------</p>

<p>--------------------------------------------------------------------------------------------------------------------------------------</p>

<p>
		  	Notice the first line: require 'sinatra'. All this means is that this program needs the sinatra gem to be run, because this is the "spine" of the app if we don't specify how it will be run, nothing will happen.

		  	On the third line we see "get '/' do". The '/' tells us that when we go to the website this is the page that opens up first and greets the user. 

		  	The fourth line "erb :home" tells the program what page to render or show when we land on the page. erb means embedded Ruby which is a file type that combines Ruby and HTML to make webpages. Great! We have a spine for our application! lets see how it looks! 
		  	</p>


		  	<p>--------------------------------------------------------------------------------------------------------------------------</p>


		  	<p>
		  		Well that's not what we wanted! I know what I did wrong! I forgot to make page for home! Lets do that now!
		  	</p>


		  	<p>--------------------------------------------------------------------------------------------------------------------------</p>

		  	<p>Let's click into the views folder that we created. Create a file called "home.erb and type this:</p>

		  	<p>--------------------------------------------------------------------------------------------------------------------------</p>

		  	</div>