<h1>Windows</h1>

<p>Alright! Let's get started! First let's use the right click to create a folder on our Desktop. Let's call it.... Puppies! </p>

<p>--------------------------------------------------------------------------------------------------------------------------------</p>

<p>----------------------------------------------------------------------------------------------------------------------------------</p>

<p>Great! now we'll open that folder and create 2 more folders. one called "views", and one called "public". </p>

<p>-------------------------------------------------------------------------------------------------------------</p>

<p>-------------------------------------------------------------------------------------------------------------</p>

