.text-center {
	background-color: red;
	text-align: center;
}

.my-btns {
	text-align: center;
	display: inline:block;
}



.container-fluid {
	background-color: red;
}

.h5 {
	background-color: red;
	color: black;
}


